<!DOCTYPE html>
<html lang="en">
<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" href="css/style.css">
   <!-- responsive-->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- awesome fontfamily -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script>
      $(document).ready(function() {
         // Gestisci l'evento di cambio selezione nel dropdown menu
         $('#moduloSelect').change(function() {
            var selectedModulo = $(this).val();
            if(selectedModulo !== "") {
               $('.read_more').removeClass('disable-button');
               var url = '/best-formation?formationDesired=' + selectedModulo;
               $('.read_more').attr('href', url);
            } else {
               $('.read_more').addClass('disable-button');
            }
         });

         $('#criteria').change(function() {
            var criteria = $(this).val();
            var selectedModulo = $('#moduloSelect').val();
            $('#nationality').addClass('invisible');
            $('#age').addClass('invisible');
            if(criteria !== "") {
               if(criteria == "rating") {
                  var url = '/best-formation?formationDesired=' + selectedModulo + '&criteria=rating';
               } else if(criteria == "matchesPlayed") {
                  var url = '/best-formation?formationDesired=' + selectedModulo + '&criteria=matchesPlayed';
               } else if(criteria == "nation") {
                  $('#nationality').removeClass('invisible');
               } else if(criteria == "age") {
                  $('#age').removeClass('invisible');
               }
               $('.read_more').attr('href', url);
            } else {
               $('.read_more').addClass('disable-button');
            }
         });

         $('#nationality').change(function() {
            var selectedModulo = $('#moduloSelect').val();
            var nationality = $(this).val();
            if(nationality !== "") {
               var url = '/best-formation?formationDesired=' + selectedModulo + '&nationality=' + nationality;
               $('.read_more').attr('href', url);
            }
         });

         $('#age').change(function() {
            var selectedModulo = $('#moduloSelect').val();
            var age = $(this).val();
            if(age !== "") {
               var url = '/best-formation?formationDesired=' + selectedModulo + '&age=' + age;
               $('.read_more').attr('href', url);
            }
         });

      });
   </script>
</head>

<body class="main-layout">

<div class="our_club">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="titlepage text_align_center">
               <h2>FantaUnivaq</h2>
               <p th:text="${message}"></p>
            </div>
         </div>

         <div class="col-md-12">
            <div class="club_btn">
               <select id="moduloSelect">
                  <option value="">Choose Module</option>
                  <option value="4-3-3">4-3-3</option>
                  <option value="4-4-2">4-4-2</option>
                  <option value="3-5-2">3-5-2</option>
                  <option value="3-4-3">3-4-3</option>
                  <option value="5-3-2">5-3-2</option>
                  <option value="5-4-1">5-4-1</option>
                  <option value="4-5-1">4-5-1</option>
               </select>
               <select id="criteria">
                  <option value="">Add Criteria</option>
                  <option value="rating">Fanta Mean</option>
                  <option value="nation">Nationality</option>
                  <option value="matchesPlayed">Matches Played</option>
                  <option value="age">Age</option>
               </select>
               <select id="nationality" class="invisible">
                  <option value="">Choose Nationality</option>
                  <option value="Italy">Italy</option>
                  <option value="France">France</option>
                  <option value="Portugal">Portugal</option>
                  <option value="Spain">Spain</option>
               </select>
               <select id="age" class="invisible">
                  <option value="">Choose Age</option>
                  <option value="minAge">Min Age</option>
                  <option value="maxAge">Max Age</option>
                  <option value="u21">Under 21</option>
                  <option value="u23">Under 23</option>
               </select>
            </div>
            <div class="club_btn">
               <a class="read_more disable-button" th:href="@{/best-formation}" th:disabled="true">Best formation</a>
            </div>
         </div>
      </div>
   </div>
</div>

<footer>
   <div class="footer">
      <div class="container">
         <div class="row">
            <div class="col-md-8 offset-md-2">
               <h3>Follow Us</h3>
               <ul class="social_icon text_align_center">
                  <li> <a href="Javascript:void(0)"><i class="fa fa-facebook-f"></i></a></li>
                  <li> <a href="Javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                  <li> <a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  <li> <a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                  <li> <a href="Javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
               </ul>
               <div class="conta text_align_center">
                  <ul>
                     <li> <a href="Javascript:void(0)"><img src="images/call.png" alt="#"/> Call +01 1234567890</a></li>
                     <li> <a href="Javascript:void(0)"><img src="images/mall.png" alt="#"/> demo@gmail.com</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="copyright text_align_center">
         <div class="container">
            <div class="row">
               <div class="col-md-8 offset-md-2">
                  <p>© 2023 All Rights Reserved.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
</body>
</html>